doctype html
html
	head
		title= title
		link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css") 
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	body.w3-light-grey
		div.w3-bar.w3-white.w3-border-bottom.w3-xlarge
			a.w3-bar-item.w3-button.w3-text-red.w3-hover-red(href="/")
				b UM Repository
			a.w3-bar-item.w3-button.w3-text-grey.w3-hover-grey(href="/packages")
				b Packages
			a.w3-bar-item.w3-button.w3-text-grey.w3-hover-grey(href="/logs")
				b Logs
			if user
				a.w3-bar-item.w3-button.w3-text-grey.w3-hover-red.w3-right(href="/logout")
					b Logout
				span.w3-bar-item.w3-text-grey.w3-right #{user.username}
			else
				a.w3-bar-item.w3-button.w3-text-grey.w3-hover-red.w3-right(href="/login")
					b Login
					
		div.w3-content.w3-padding-16(style="max-width:1100px;")
			block content

//- body.w3-light-grey
//- 		div.w3-bar.w3-white.w3-border-bottom.w3-xlarge
//- 			a.w3-bar-item.w3-button.w3-text-red.w3-hover-red(href="#")
//- 				b
//- 					i.fa.fa-map-marker.w3-margin-right
//- 					| UM Repository
//- 			a.w3-bar-item.w3-button.w3-right.w3-hover-red.w3-text-grey(href="#")
//- 				i(class="fa fa-search")