doctype html
html
	head
		title= title || 'Open Access Project Repository'
		link(rel="stylesheet", href="/stylesheets/w3.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		
		script( defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous")
		script( src="/javascripts/jquery-3.3.1.js")

		block head
	body.w3-dark-grey
		div.w3-bar.w3-white.w3-border-bottom.w3-xlarge
			a.w3-bar-item.w3-button.w3-text-red.w3-hover-red(href="/")
				b UM Repository
			a.w3-bar-item.w3-button.w3-text-grey.w3-hover-grey(href="/packages")
				b Packages
			a.w3-bar-item.w3-button.w3-text-grey.w3-hover-grey(href="/logs")
				b Logs
			if user && user.group == 'admin'
				a.w3-bar-item.w3-button.w3-text-grey.w3-hover-grey(href="/users")
					b Users
			if user
				a.w3-bar-item.w3-button.w3-text-grey.w3-hover-red.w3-right(href="/logout")
					b Logout
				span.w3-bar-item.w3-text-grey.w3-right #{user.username}
			else
				a.w3-bar-item.w3-button.w3-text-grey.w3-hover-red.w3-right(href="/login")
					b Login
				a.w3-bar-item.w3-button.w3-text-grey.w3-hover-red.w3-right(href="/register")
					b Register
		
		div.w3-light-grey
			div.w3-content.w3-padding-16(style="max-width:1100px;")
				block content

div.w3-container.w3-dark-grey.w3-padding-large
	h3 University of Minho
	p Ezequiel Moreira and Pedro Silva, 2018