extends layout

block content
    form.w3-center(method="post" action="/login" style="max-width: 300px; margin-right: auto; margin-left: auto")
        if error
            div.w3-panel.w3-red
                h3 Error
                p #{error}

        p
            label Username
            input.w3-input.w3-border(type="text" placeholder="Type in the username..." name="username" autofocus)
        p
            label Password 
            input.w3-input.w3-border(type="password" placeholder="Type in the password..." name="password")
        p
            input.w3-button.w3-dark-grey(type="submit" value="Login")