body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

.w3-flex {
	display: flex;
}

.w3-flex-grow {
	flex: 1 1 auto;
}

.w3-flex-fixed {
	flex: 0 0 auto;
}