extends ../layout
include ../packages/package-card

block content
    div.w3-row-padding
        div.w3-container.w3-col.m4.l4
            h2 #{userDetails.username}
	
            div.w3-text-black
                table.w3-table.w3-bordered
                    tr
                        th Email
                        td #{userDetails.email}
                    tr
                        th Group
                        td #{userDetails.group}
                    tr
                        th Approved
                        td #{userDetails.approved}

            div.w3-margin-top.w3-right
                if user && user.group == 'admin'
                    a.w3-button.w3-red.w3-hover-deep-orange.w3-small(href='/users/' + userDetails.username + '/remove')
                        i.fa.fa-minus
                        |  Remove User
                        
            div.w3-margin-top
                a.w3-button.w3-yellow.w3-hover-amber.w3-small(href='/users/' + userDetails.username + '/edit')
                    i.fa.fa-edit
                    |  Edit User
            

        div.w3-container.w3-col.m8.l8
            ul.w3-ul
                each pkg in packages
                    +package-card( pkg )

