extends ../layout

block content
	div.w3-panel.w3-border
		h3.w3-text-red Attention
		p You're about to remove the user #{userDetails.username} from the database.
		p.w3-center.w3-margin
			a.w3-button.w3-white.w3-large(href=redirectLink style="margin-right: 30px") 
				| Cancel
			
			a.w3-button.w3-red.w3-hover-red.w3-large(href="/users/" + userDetails.username + "/remove?confirm=true&redirect=" + confirmRedirectLink ) 
				| Remove