extends ../layout

block content
	table.w3-table.w3-striped.w3-bordered.w3-border
		tr.w3-text-red
			th Message
			th User
			th Date
		each log in logs
			tr.w3-white
				td #{log.action}
				td #{log.user._id}
				td #{log.date}
		else
			tr
				td(colspace=3) Sem logs
	div.w3-clear
		p
			if hasPreviousPage
				a.w3-button.w3-left.w3-orange( href="/logs?page=" + ( currentPage - 1 ) ) P치gina Anterior
			else
				a.w3-button.w3-left.w3-disabled P치gina Anterior
			
			if hasNextPage
				a.w3-button.w3-right.w3-orange( href="/logs?page=" + ( currentPage + 1 ) ) P치gina Seguinte
			else
				a.w3-button.w3-right.w3-disabled P치gina Seguinte
	